/* TODO - Rewrite this to have a better responsiveness*/


* {
     margin: 0;
     box-sizing: border-box;
}

body {
     background-color: hsl(0, 0%, 81%);
     font-family: "Barlow Semi Condensed", sans-serif;
}

.main-container {
     font-size: 13px;
}

.testimonial-container {
     margin: 25px;
     padding: 30px;
     border-radius: 15px;
     color: white;
}

.img-main-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 15px;
}

.name-container {
     margin-left: 20px;
}

.name-container .name {
     font-size: 1em;
}

#Daniel-testimonial {
     margin-top: 100px;
}

.img-container {
     height: 50px;
     display: flex;
     align-items: center;
}

.img-container img {
     border-radius: 60%;
     border: 2px solid;
     height: 90%;
}

.testimonial-container .title {
     margin-bottom: 25px;
     position: relative;
     z-index: 1;
}

#Daniel-testimonial {
     background-color: hsl(263, 55%, 52%);
     position: relative;
}

#Daniel-testimonial .img-container img {
     border: 2px solid hsl(264, 82%, 80%);
}

#Jonathan-testimonial {
     background-color: hsl(217, 19%, 35%);
}

#Jonathan-testimonial .img-container img {
     border: 2px solid hsl(224, 10%, 45%);
}

#Jeanette-testimonial {
     background-color: white;
     color: black;
}

#Jeanette-testimonial .img-container img {
     border: 2px solid hsl(214, 17%, 92%);
}

#Patrick-testimonial {
     background-color: hsl(219, 29%, 14%);
}

#Patrick-testimonial .img-container img {
     border: 2px solid hsl(263, 55%, 52%);
}

#Kira-testimonial {
     background-color: white;
     color: black;
}

#Kira-testimonial .img-container img {
     border: 2px solid hsl(0, 0%, 81%);
}

.quote{
     display: none;
}

/*Phone landscape*/
@media (min-width: 576px) {
     .main-container {
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .sub-containers {
          width: 60%;
     }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     .first-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
     }

     .main-container {
          display: flex;
          width: fit-content;
          flex-direction: row;
          height: 80%;
     }

     .sub-containers{
          height: 100%;
     }

     .sub-container1 {
          width: 60%;
     }

     .sub-container2 {
          width: 30%;
          height: 100%;
     }

     .top {
          display: flex;
          height: 50%;
     }

     .bottom {
          display: flex;
          height: 50%;
     }

     .testimonial-container{
          overflow: auto;
     }

     .top #Daniel-testimonial {
          margin: 0;
          height: 100%;
     }

     .top #Jonathan-testimonial {
          margin: 0;
          margin-left: 15px;
     }

     .bottom #Jeanette-testimonial {
          margin: 0;
          margin-top: 20px;
     }

     .bottom #Patrick-testimonial {
          margin: 0;
          margin-top: 20px;
          margin-left: 20px;
     }

     .sub-container2 #Kira-testimonial {
          margin-right: 0;
          margin-top: 0;
          height: 100%;
     }

     .quote {
          position: absolute;
          margin-right: 10%;
          top: 0;
          right: 0;
          z-index: 0;
          height: 125px;
          /* display: none; */
     }
}
